{% extends 'base.html' %}
{% block title %}Learn to Automate Systems - Shariq Shaukat{% endblock title %}
{% block body %}
{% load static %}

<div class="container">
<h2 class="fs-2 text-primary fw-semibold m-4">Coding Blog</h2>
<div class="row">
    <div class="mb-4">
        <div class="card shadow p-4" style="width: 35rem;">
            <!-- Card content goes here -->
            <h3>Python - Ultimate Story</h3>
            <p class="card-text text-secondary-emphasis fw-medium" style="font-family: 'Lato', sans-serif;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique beatae temporibus consequatur aspernatur, tenetur ut natus vitae aut repellat provident accusantium corrupti porro illo mollitia repellendus culpa harum velit. Vitae nostrum quas cum amet.</p>

            <a href="#" type="button" class="btn btn-primary" style="font-family: 'Montserrat', sans-serif; width: 8rem;">Read More</a>
        </div>
        
    </div>
</div>
</div>
</div>


{% endblock body %}
