{% extends "base.html" %}
{% load static %}


</style>

{% block body %}
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="w-100 shadow" style="background-color: #f2f2f2; height: 350px; display: flex; flex-direction: column; justify-content: center;">
        <h2 class="text-center fw-bold mb-4">Feel free to Contact me</h2>
        <img style="height: 150px; width: 150px; border-radius: 50%; margin: 0 auto;" src="{{ image.image.url }}" alt="Caraousel Image">
        <ul class="list-unstyled list-inline social-icons text-center mt-4">
            <li class="list-inline-item mx-4">
              <a href="https://www.instagram.com/itx_shariq" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram fa-3x fa-beat-fade" style="color: #000000; "></i>
              </a>
            </li>
            <li class="list-inline-item mx-4">
              <a href="https://www.linkedin.com/in/shariq-shaukat786" target="_blank" title="LinkedIn">
                <i class="fa-brands fa-linkedin fa-3x fa-beat-fade" style="color: #000000;"></i>
              </a>
            </li>
            <li class="list-inline-item mx-4">
              <a href="https://www.github.com/shariqazeem" target="_blank" title="GitHub">
                <i class="fa-brands fa-github fa-3x fa-beat-fade" style="color: #000000;"></i>
              </a>
            </li>
        </ul>
    </div>
</div>
{% endblock body %}
