{% extends "base.html" %}

{% block body %}
{% load static %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

    <div class="container mt-5 mx-auto px-4 sm:px-6 lg:px-8">
        <div class="col-md-6 mx-auto">
            <div class="card shadow" style="height: 27rem;">
                <h1 class="text-center h4 mt-4">Shariq Shaukat Signup</h1>
          <div class="card-body d-flex flex-column justify-content-center">
            <form method="post" action="">
              {% csrf_token %}
              <div class="mb-3">
                <input id="username" name="username" class="form-control" type="text" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <input id="email" name="email" class="form-control" type="email" placeholder="Email address" required>
              </div>
              <div class="mb-3">
                <input id="password" name="password" class="form-control" type="password" placeholder="Password" required>
              </div>
              <div class="mb-3">
                <input id="cpassword" name="cpassword" class="form-control" type="password" placeholder="Confirm Password" required>
              </div>
              <button class="btn btn-primary my-2 w-100" type="submit">Signup</button>
              <a class="text-primary text-sm cursor-pointer " href="{% url 'login' %}">I already have a account</a>
            </form>
          </div>
        </div>
      </div>
    </div>

  



{% endblock body %}
